<a href="https://colab.research.google.com/github/frankliu6/python-learning-journal/blob/main/CIST5A_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Homework: Introduction to Python

In this homework assignment, you'll practice what you've learned so far: variables, types, operators, errors, and print statements. Complete each part and submit your notebook when you're done.

**Instructions:**
- Write your code in the provided cells.
- Run each cell to check your results.
- Submit your completed notebook by the due date.


## Part 1: Variables and Types

### Exercise 1
Create variables of the following types: `int`, `float`, and `str`. Assign any values you like to them and print each one.

In [33]:
intVar = 268
floatVar = 3.1415
strVar = "Hello World, these are python variables."
print(intVar)
print(floatVar)
print(strVar)

268
3.1415
Hello World, these are python variables.


### Exercise 2
The following code contains errors. Identify and correct them.

In [34]:

# The code below has errors. Fix them.
my_number = "10"
my_float = 5.0
result = int(my_number) + my_float
print("The result is: " + str(result))

The result is: 15.0


## Part 2: Operators

### Exercise 3
Perform the following arithmetic operations and print the results:
1. Addition of two numbers.
2. Subtraction of one number from another.
3. Multiplication of two numbers.
4. Division of one number by another.

In [35]:
additionResult = 2.45 + 87
subtractionResult = 23.8 - 9
multiplicationResult = 15 * 8
divisionResult = 120 / 60
print(additionResult)
print(subtractionResult)
print(multiplicationResult)
print(divisionResult)

89.45
14.8
120
2.0


### Exercise 4
Use comparison and logical operators to evaluate the following expressions and print the results:
1. Is 10 greater than 5?
2. Is 3 less than or equal to 3?
3. Is 7 equal to 8?
4. Is 5 greater than 3 and 2 less than 4?

In [36]:
print('10 > 5 is ' + str(10 > 5))
print('3 <= 3 is ' + str(3 <= 3))
print('7 == 8 is ' + str(7 == 8))
print('5 > 3 and 2 < 4 is ' + str(5 > 3 and 2 < 4))

10 > 5 is True
3 <= 3 is True
7 == 8 is False
5 > 3 and 2 < 4 is True


## Part 3: Errors and Debugging

### Exercise 5
The following code contains syntax and runtime errors. Identify and correct them.

In [37]:

# The code below has errors. Fix them.
"""
my Variable = "This is my first string";
2remove = " first";
final String = my Variable - 2remove;
print(final String);
"""
myVariable = "This is my first string";
remove = " first"
finalString = myVariable.replace(remove, "")
print(finalString);

This is my string


## Part 4: Print Statements

### Exercise 6
Use print statements to display the following:
1. A string that says "Hello, World!"
2. A formatted string that includes the values of two variables.

In [38]:
print('Hello, World!')
var1 = 'Hello,'
var2 = 'World!'
print(var1, var2)

Hello, World!
Hello, World!


### Exercise 7
Print multiple variables each on their own line using a **single** print statement.

In [39]:
var1 = ' Hello'
var2 = 'World!'
var3 = 'This'
var4 = 'is'
var5 = 'Exercise 7'
print(var1, '\n', var2, '\n', var3, '\n', var4, '\n', var5)

 Hello
 World!
 This
 is
 Exercise 7


## Conclusion

Reflect on what you've learned in this homework. What parts were easy for you? Which ones were challenging? Write a few sentences below.

The arithmatic statemets are easy.  The string format statements need some thoughts.